<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOfYm68f2LEGGiZckFbLqoFRZIZiMv0BE</string>
	<key>GCM_SENDER_ID</key>
	<string>744219301766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.ibagroup.idocit.mobile</string>
	<key>PROJECT_ID</key>
	<string>idocit-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>idocit-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744219301766:ios:3dd0c8831d61a3446bfe07</string>
</dict>
</plist>